footer {
  padding: 84px 0;

  @include breakpoint('lg') {
    padding: 60px 0 70px;
  }
  @include breakpoint('md') {
    padding: 60px 0 20px;
  }
  @include breakpoint('sm') {
    padding: 45px 0 10px;
  }


  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 3px;
    @include breakpoint('lg') {
      width: 30px;
    }
    @include breakpoint('sm') {
      width: 25px;
    }
    @include breakpoint('xs') {
      width: 15px;
    }

    img {
      width: 100%;
    }
  }

  p {
    color: #010000;
    margin-top: 65px;
    text-align: center;

    @include breakpoint('lg') {
      margin-top: 40px;
    }
    @include breakpoint('sm') {
      margin-top: 20px;
    }

    span {
      margin: 0 10px;
    }
  }
}