// predefine color as per style guide

// Primary colors
$primary-color-1: #000000;  // Black
$primary-color-2: #ffffff;  // White
$primary-color-3: #ff8a00;  // Orange
$primary-color-4: transparent;

// Secondary colors


//Section Backgrounds
$section-background-1: #0d5477; // Blue
$section-background-2: #078802; // Green
$section-background-3: rgba(0,0,0,0.4); // Black + Alpha

// font variables
$Roboto-Regular : 'robotoregular', sans-serif;
$Roboto-Light : 'robotolight', sans-serif;
$Roboto-Medium : 'robotomedium', sans-serif;
$Roboto-Bold : 'robotobold', sans-serif;
$Roboto-Black : 'robotoblack', sans-serif;
